body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0; */
}
.container {
    display: flex;
    width: min(750px, 100%);
}

.menu-option-container {
    display: flex;
    border: solid red 1px;
}


.menu-option, .more {
    padding: 10px 25px 10px;
}

.menu-option {
    text-align: center;
}

.moreElementContainer {
    flex: 1;
    position: relative;
    border: solid red 1px;

}

.more {
    flex: 1;
    text-align: right;

}

.menu-option.hidden {
    display: none;
}

.drop-down-container.hidden {
    display: none;
}

.drop-down-container {
    position: absolute;
    border: solid red 1px;
    /* right: 0; */
    width: 100%;
}