.container {
    display: flex;
    width: clamp(350px, 95%, 1000px);
    border: solid black 1px;
}

.menu-option-container {
    display: flex;
    width: clamp(350px, 95%, 1000px);
    border: solid red 1px;
}


.menu-option, .more {
    padding: 10px 5px 10px;
}

.menu-option {
    flex: 1;
}


.menu-option.hidden {
    display: none;
}