body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    border: solid black 1px;

}

.menu-option-container {
    display: flex;
    border: solid red 1px;
}


.menu-option, .more {
    padding: 10px 25px 10px;
}

.more.grow {
    display: flex;

}

.menu-option {
    /* flex: 1; */
}


.menu-option.hidden {
    display: none;
}